[flake8]
max-line-length = 99
max-doc-length = 99
extend-ignore = E203,W503,E231,E201
per-file-ignores =
    tests/*:D205,D400
    flake8_docstrings_complete/*:N802
test-docs-pattern = given/when/then
